{% extends "base.html" %}
{% load url from future %}
{% block js %}
    {{ block.super }}
    {{ map.media }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="span12">
            <h1>
                National Pupil Database Data Explorer
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="well">
                {{ map }}
            </div>
        </div>
    </div>

    <div class="row">
    {% for column in counties_columns %}
        <div class="span3">
            <ul>
                {% for county in column %}
                <li>
                    <a href="{% url 'lea' county.id 'predictedattainment' %}">
                        {{ county.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>
{% endblock %}
