{% extends "base.html" %}

{% block js %}
    {{ block.super }}
    <script type="application/javascript">
        $.ajax('/schooldata/plot/', {success: function(data) {
                console.log(data);
            new Highcharts.Chart({
                 chart: {
                    renderTo: 'graph',
                    type: 'scatter',
                 },
                 yAxis: {
                    title: {
                       text: 'KS2 attainment'
                    }
                 },
                 yAxis: {
                    title: {
                       text: 'KS4 attainment'
                    }
                 },
                 title: {text: null},
                 series: [{
                    name: 'attainment',
                    showInLegend: false,
                    data: data.data
                }]
             });
        }});
    </script>
{% endblock %}

{% block content %}
<div id="graph">
</div>

{% endblock %}
